@import url(master.css);



body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;


}

*::-webkit-scrollbar {
    width: 8px;
    height: 100px;

}

.sections-primary:hover::-webkit-scrollbar-thumb {
    background-color: var(--cor-principal-spotify);
}

.secound-section:hover ::-webkit-scrollbar-thumb {
    background-color: var(--cor-principal-spotify);
}


#logo,
#home {
    width: 35px;
    margin: 8px;
    padding: 3px;
}

.icons {
    width: 10px;
    height: auto;
}

.container {
    display: flex;
    box-sizing: border-box;
}

.meno-pesquisa {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    flex: 1;
    min-width: 250px;
}

.meno-pesquisa input {
    flex-grow: 0.5;
    width: 200px;
    max-width: 100%;
    padding: 15px;
    background-color: var(--cor-de-fundo);
    border: none;
    border-radius: 30px;

}

li {
    padding-right: 0.1rem;
    font-weight: bold;

}

li a {
    font-weight: bold;
    color: var(--cor-cinza-textos);
}

li a:hover {
    color: var(--cor-textos);
    font-size: large;

}

.header-btn button:hover {
    font-size: larger;
    color: var(--cor-textos);
}

.header-btn button a {
    color: var(--cor-cinza-textos);
    font-weight: bold;
}

.header-btn button #download:hover {

    color: var(--cor-textos);
}

.btn-sign {
    background: none;
}

.header-content button {
    padding: 0.8rem 1rem;
    font-size: 17px;
    padding: 15px 25px;
    background-color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.header-content .btn-sign {
    background: none;
    color: var(--cor-cinza-textos);
    font-weight: bold;
}

.icons-btn {
    width: 25px;
}

.container header {
    padding: 0 20px;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--fundo-preto);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 1200px;
    padding-left: 20px;
    box-sizing: border-box;

}

#download {
    background: none;
}

.header-btn {
    margin-left: auto;
}

.nav-footer a {
    text-decoration: none;
    gap: 4rem;
    color: rgb(54, 54, 54);
    margin-left: 30px;
    padding-bottom: 20px;
    flex-wrap: wrap;

}

.nav-footer {
    margin-top: 50px;
    display: block;
}

.nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}



hr {
    display: flex;
    height: 25px;
    margin: 0 5px 0;
}

.primary-section {
    min-width: 20rem;
    max-width: 480px;
    background: var(--cinza);
    border-radius: 10px;
    padding: 0 15px;
    overflow-y: auto;
    height: 280px;
    resize: horizontal;
    /**/


}

main {
    display: flex;
    gap: 10px;
    height: 100vh;
    border-radius: 10px;
    /* height: calc(100vh - 4rem);*/
    margin-top: 4rem;
    overflow: hidden;
    padding: 0 10px;
    margin-top: 4rem;
    overflow: hidden;
    box-sizing: border-box;
}


main .playlist,
.browser {
    background-color: black;
    margin: 1rem 0;
    padding: 15px 0;
    gap: 7px;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}

.header-btn {

    margin-right: 0px;
}

main .playlist button,
.browser button {
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    border: none;

}


a {
    text-decoration: none;
    text-align: center;
    justify-content: center;

}

.primary-section-title {
    position: sticky;
    top: 0;
    background-color: var(--cinza);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    z-index: 1;
}

.primary-section-title a {
    text-decoration: none;
    font-size: 25px;
    color: var(--cor-cinza-textos);
    cursor: pointer;
}

.secound-section {
    padding: 10px;
    border-radius: 10px;
    flex-grow: 1;
    overflow-y: auto;
}


.secound-section h1 {
    font-size: 1.2rem;
    margin: 0 2rem;
    padding: 20px 0;
    margin-left: 1.2rem;
    cursor: pointer;
}

.categorias {
    display: flex;
    gap: 16px;
    /* justify-content: center;*/
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;

}

.secound-section .categorias .cartaz span {
    display: flex;
    font-weight: bold;
    font-size: larger;
    margin: 20px;
}

.cartaz {
    flex: 1;
    height: 8.5rem;
    border-radius: 10px;
    box-sizing: border-box;
    flex-basis: 16rem;
    position: relative;
    width: 100%;
    cursor: pointer;
    color: white;
    min-width: 200px;
    min-height: 150px;
    overflow: hidden;
    padding: 20px;


}

.cartaz:nth-of-type(1) {
    background-color: rgb(220, 20, 140);
}

.cartaz:nth-of-type(1)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://i.scdn.co/image/ab67fb8200005caf474a477debc822a3a45c5acb);

}

.cartaz:nth-of-type(2) {
    background-color: rgb(0, 100, 80);

}

.cartaz:nth-of-type(2)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://i.scdn.co/image/ab6765630000ba8a81f07e1ead0317ee3c285bfa);
}

.cartaz:nth-of-type(3) {
    background-color: rgb(132, 0, 231);


}

.cartaz:nth-of-type(3)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://concerts.spotifycdn.com/images/live-events_category-image.jpg);
}

.cartaz:nth-of-type(4) {
    background-color: rgb(30, 50, 100);
}

.cartaz:nth-of-type(4)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://pickasso.spotifycdn.com/image/ab67c0de0000deef/dt/v1/img/topic/pop/1McMsnEElThX1knmY4oliG/en);
}

.cartaz:nth-of-type(5) {
    background-color: rgb(225, 51, 0);
}

.cartaz:nth-of-type(5)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://i.scdn.co/image/ab67fb8200005caf194fec0fdc197fb9e4fe8e64);
}

.cartaz:nth-of-type(6) {
    background-color: rgb(140, 25, 50);
}

.cartaz:nth-of-type(6)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://i.scdn.co/image/ab67fb8200005caf73b2872e5a04da17bee68535);
}

.cartaz:nth-of-type(7) {
    background-color: rgb(71, 125, 149);

}

.cartaz:nth-of-type(7)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://i.scdn.co/image/ab67fb8200005caf66d545e6a69d0bfe8bd1e825);
}

.cartaz:nth-of-type(8) {
    background-color: rgb(71, 125, 149);
    position: relative;
    color: white;
    min-width: 200px;
    min-height: 150px;
    overflow: hidden;
    padding: 20px;
}

.cartaz:nth-of-type(8)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://i.scdn.co/image/ab67fb8200005caf5f3752b3234e724f9cd6056f);
}

.cartaz:nth-of-type(9) {
    background-color: rgb(186, 93, 7);

}

.cartaz:nth-of-type(9)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://i.scdn.co/image/ab67fb8200005caff4e38be86ca48a3b10884ae3);
}

.cartaz:nth-of-type(10) {
    background-color: rgb(141, 103, 171);

}

.cartaz:nth-of-type(10)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://charts-images.scdn.co/assets/locale_en/regional/weekly/region_global_default.jpg);
}

.cartaz:nth-of-type(11) {
    background-color: rgb(71, 125, 149);
}

.cartaz:nth-of-type(11)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://i.scdn.co/image/ab67656300005f1fd464f18a416c86ede3a235a7);
}

.cartaz:nth-of-type(12) {
    background-color: rgb(80, 55, 80);

}

.cartaz:nth-of-type(12)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://i.scdn.co/image/ab6765630000ba8a2f514cde3ee9501e7ada4cf4);
}

.cartaz:nth-of-type(13) {
    background-color: rgb(175, 40, 150);
}

.cartaz:nth-of-type(13)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://i.scdn.co/image/ab6765630000ba8a77d267a5accb8911a92668e1);
}

.cartaz:nth-of-type(14) {
    background-color: rgb(220, 20, 140);
}

.cartaz:nth-of-type(14)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://i.scdn.co/image/ab6765630000ba8a4dea4f05ebdb302fadd2c857);
}

.cartaz:nth-of-type(15) {
    background-color: rgb(119, 119, 119);

}

.cartaz:nth-of-type(15)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://i.scdn.co/image/ab67fb8200005caf6af6d83c78493644c9b0627b);
}

.cartaz:nth-of-type(16) {
    background-color: rgb(71, 125, 149);

}

.cartaz:nth-of-type(16)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(hhttps://i.scdn.co/image/ab67fb8200005caf26ada793217994216c79dad8);

}

.cartaz:nth-of-type(17) {
    background-color: rgb(225, 17, 140);

}

.cartaz:nth-of-type(17)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://i.scdn.co/image/ab67fb8200005cafe542e9b59b1d2ae04b46b91c);
}

.cartaz:nth-of-type(18) {
    background-color: rgb(233, 20, 41);
}

.cartaz:nth-of-type(18)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://i.scdn.co/image/ab67fb8200005cafa1a252e3a815b65778d8c2aa);
}

.cartaz:nth-of-type(19) {
    background-color: rgb(141, 103, 171);


}

.cartaz:nth-of-type(19)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://pickasso.spotifycdn.com/image/ab67c0de0000deef/dt/v1/img/dw/cover/en);
}

.cartaz:nth-of-type(20) {
    background-color: rgb(13, 115, 236);


}

.cartaz:nth-of-type(20)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://i.scdn.co/image/ab67fb8200005caf3a44e7ae3d808c220898185c);
}

.cartaz:nth-of-type(21) {
    background-color: rgb(216, 64, 0);

}

.cartaz:nth-of-type(21)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://i.scdn.co/image/ab67fb8200005caf8573129e9a69a7482eca7879);
}

.cartaz:nth-of-type(22) {
    background-color: rgb(0, 100, 80);

}

.cartaz:nth-of-type(22)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://i.scdn.co/image/ab67fb8200005cafda4c849095796a9e5d2c4ddb);
}

.cartaz:nth-of-type(23) {
    background-color: rgb(230, 30, 50);

}

.cartaz:nth-of-type(23)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://i.scdn.co/image/ab67fb8200005caf4b42030ee01cf793663dbb73);
}

.cartaz:nth-of-type(24) {
    background-color: rgb(30, 50, 100);

}

.cartaz:nth-of-type(24)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://i.scdn.co/image/ab67fb8200005caf330ca3a3bfaf8b18407fb33e);
}

.cartaz:nth-of-type(25) {
    background-color: rgb(141, 103, 171);
}

.cartaz:nth-of-type(25)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://i.scdn.co/image/ab67fb8200005caf1cef0cee1e498abb8e74955f);
}

.cartaz:nth-of-type(26) {
    background-color: rgb(81, 121, 161);

}

.cartaz:nth-of-type(26)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://i.scdn.co/image/ab67fb8200005caf0b0d0bfac454671832311615);
}

.cartaz:nth-of-type(27) {
    background-color: rgb(13, 115, 236);

}

.cartaz:nth-of-type(27)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://i.scdn.co/image/ab6765630000ba8a81f07e1ead0317ee3c285bfa);
}

.cartaz:nth-of-type(28) {
    background-color: rgb(20, 138, 8);

}

.cartaz:nth-of-type(28)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://i.scdn.co/image/ab6765630000ba8a81f07e1ead0317ee3c285bfa);
}

.cartaz:nth-of-type(29) {
    background-color: rgb(125, 75, 50);

}

.cartaz:nth-of-type(29)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://i.scdn.co/image/ab6765630000ba8a81f07e1ead0317ee3c285bfa);
}

.cartaz:nth-of-type(30) {
    background-color: blueviolet;

}

.cartaz:nth-of-type(30)::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    bottom: -2px;
    border-radius: 3px;
    background-size: cover;
    transform: rotate(30deg);
    background-image: url(https://i.scdn.co/image/ab6765630000ba8a81f07e1ead0317ee3c285bfa);
}


.footer-secound {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: left;
    font-size: 12px;
}

.inf a {
    display: block;
}

.footer-secound {
    height: 20rem;
    justify-content: center;
    
}

