@import url(master.css);



body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;

}

#logo,
#home {
    width: 35px;
    margin: 8px;
    padding: 3px;
}

.icons {
    width: 10px;
    height: auto;
}

.container {
    display: flex;
    box-sizing: border-box;
}

.meno-pesquisa {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    flex: 1;
    min-width: 250px;
}

.meno-pesquisa input {
    flex-grow: 0.5;
    width: 200px;
    max-width: 100%;
    padding: 15px;
    background-color: var(--cor-de-fundo);
    border: none;
    border-radius: 30px;

}

li {
    padding-right: 0.1rem;
    font-weight: bold;

}

li a {
    font-weight: bold;
    color: var(--cor-cinza-textos);
}

li a:hover {
    color: var(--cor-textos);
    font-size: large;

}

.header-btn button:hover {
    font-size: larger;
    color: var(--cor-textos);
}

.header-btn button a {
    color: var(--cor-cinza-textos);
    font-weight: bold;
}

.header-btn button #download:hover {

    color: var(--cor-textos);
}

.btn-sign {
    background: none;
}

.header-content button {
    padding: 0.8rem 1rem;
    font-size: 17px;
    padding: 15px 25px;
    background-color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.header-content .btn-sign {
    background: none;
    color: var(--cor-cinza-textos);
    font-weight: bold;
}

.icons-btn {
    width: 25px;
}

.container header {
    padding: 0 20px;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--fundo-preto);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 1200px;
    padding-left: 20px;
    box-sizing: border-box;

}

#download {
    background: none;
}

.header-btn {
    margin-left: auto;
}

.nav-footer a {
    text-decoration: none;
    gap: 4rem;
    color: rgb(54, 54, 54);
    margin-left: 30px;
    padding-bottom: 20px;
    flex-wrap: wrap;

}

.nav-footer {
    margin-top: 50px;
    display: block;
}

.nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}



hr {
    display: flex;
    height: 25px;
    margin: 0 5px 0;
}

.primary-section {

    width: 480px;
    background: var(--cinza);
    border-radius: 10px;
    padding: 0 15px;
    overflow-y: auto;
    height: 280px;


}

main {
    display: flex;
    gap: 10px;
    height: 100vh;
    border-radius: 10px;
    height: calc(100vh - 4rem);
    margin-top: 4rem;
    overflow: hidden;
    padding: 0 10px;
    margin-top: 4rem;
    overflow: hidden;
    box-sizing: border-box;
}


main .playlist,
.browser {
    background-color: black;
    margin: 1rem 0;
    padding: 15px 0;
    gap: 7px;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}

.header-btn {

    margin-right: 0px;
}

main .playlist button,
.browser button {
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    border: none;

}


a {
    text-decoration: none;
    text-align: center;
    justify-content: center;

}

.primary-section-title {
    position: sticky;
    top: 0;
    background-color: var(--cinza);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    z-index: 1;
}

.primary-section-title a {
    text-decoration: none;
    font-size: 25px;
    color: var(--cor-de-fundo);
}

.secound-section {
    padding: 10px;
    border-radius: 10px;
    flex-grow: 1;
    overflow-y: auto;
}


.secound-section h1 {
    font-size: 1.2rem;
    margin: 0 2rem;
    padding: 20px 0;
    margin-left: 1.2rem;

}

.categorias {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;

}

.secound-section .categorias .cartaz span {
    display: flex;
    font-weight: bold;
    font-size: larger;
    margin: 20px;
}

.cartaz {
    flex: 0 1 200px;
    height: 8.5rem;
    border-radius: 10px;
    box-sizing: border-box;
    flex-basis: 15rem;
    position: relative;
}

.cartaz:nth-of-type(1) {
    background-color: rgb(220, 20, 140);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;
}

.cartaz:nth-of-type(1)::after {
    content: "";
    /*Criar um espaco vazio onde ser inserido a imagem*/
    position: absolute;
    /*aqui o intem move se em relacao a heranca relativa do pai*/
    width: 120px;
    /*Determinar a largura do espaco */
    height: 120px;
    /*Determinar a altura do espaco */
    right: -20px;
    /*Movimentar o item vazio a direira */
    bottom: -2px;
    /*Movimentar o item vazio para baixo */
    border-radius: 3px;
    background-image: url(https://i.scdn.co/image/ab67fb8200005caf474a477debc822a3a45c5acb);
    /*Inserir a imagem no espaco*/
    background-size: cover;
    /**/
    transform: rotate(30deg);
    /*Rodar a imagem */
}

.cartaz:nth-of-type(2) {
    background-color: rgb(0, 100, 80);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;
}

.cartaz:nth-of-type(2)::after {
    content: ""; /*Criar um espaco vazio onde ser inserido a imagem*/
    position: absolute;
    /*aqui o intem move se em relacao a heranca relativa do pai*/
    width: 120px;
    /*Determinar a largura do espaco */
    height: 120px;
    /*Determinar a altura do espaco */
    right: -20px;
    /*Movimentar o item vazio a direira */
    bottom: -2px;
    /*Movimentar o item vazio para baixo */
    border-radius: 3px;
    background-image: url(https://i.scdn.co/image/ab6765630000ba8a81f07e1ead0317ee3c285bfa);
    /*Inserir a imagem no espaco*/
    background-size: cover;
    /**/
    transform: rotate(30deg);
    /*Rodar a imagem */
}

.cartaz:nth-of-type(3) {
    background-color: rgb(132, 0, 231);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;

}

.cartaz:nth-of-type(4) {
    background-color: rgb(30, 50, 100);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;
}

.cartaz:nth-of-type(5) {
    background-color: rgb(225, 51, 0);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;
}

.cartaz:nth-of-type(6) {
    background-color: rgb(140, 25, 50);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;
}

.cartaz:nth-of-type(7) {
    background-color: rgb(71, 125, 149);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;

}

.cartaz:nth-of-type(8) {
    background-color: rgb(71, 125, 149);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;
}

.cartaz:nth-of-type(9) {
    background-color: rgb(186, 93, 7);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;
}

.cartaz:nth-of-type(10) {
    background-color: rgb(141, 103, 171);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;

}

.cartaz:nth-of-type(11) {
    background-color: rgb(71, 125, 149);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;
}

.cartaz:nth-of-type(12) {
    background-color: rgb(80, 55, 80);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;

}

.cartaz:nth-of-type(13) {
    background-color: rgb(175, 40, 150);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;
}

.cartaz:nth-of-type(14) {
    background-color: rgb(220, 20, 140);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;
}

.cartaz:nth-of-type(15) {
    background-color: rgb(119, 119, 119);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;
}

.cartaz:nth-of-type(16) {
    background-color: rgb(71, 125, 149);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;
}

.cartaz:nth-of-type(17) {
    background-color: rgb(225, 17, 140);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;
}

.cartaz:nth-of-type(18) {
    background-color: rgb(233, 20, 41);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;
}

.cartaz:nth-of-type(19) {
    background-color: rgb(141, 103, 171);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;

}

.cartaz:nth-of-type(20) {
    background-color: rgb(13, 115, 236);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;

}

.cartaz:nth-of-type(21) {
    background-color: rgb(216, 64, 0);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;
}

.cartaz:nth-of-type(22) {
    background-color: rgb(0, 100, 80);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;
}

.cartaz:nth-of-type(23) {
    background-color: rgb(230, 30, 50);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;
}

.cartaz:nth-of-type(24) {
    background-color: rgb(30, 50, 100);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;
}

.cartaz:nth-of-type(25) {
    background-color: rgb(141, 103, 171);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;
}

.cartaz:nth-of-type(26) {
    background-color: rgb(81, 121, 161);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;
}

.cartaz:nth-of-type(27) {
    background-color: rgb(13, 115, 236);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;

}

.cartaz:nth-of-type(28) {
    background-color: rgb(20, 138, 8);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;
}

.cartaz:nth-of-type(29) {
    background-color: rgb(125, 75, 50);
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;

}

.cartaz:nth-of-type(30) {
    background-color: blueviolet;
    position: relative;
    color: white;
    width: 300px;
    height: 160px;
    overflow: hidden;
    padding: 20px;
}


.footer-secound {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: left;
    font-size: 12px;
}

.inf a {
    display: block;
}