@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=BBH+Sans+Bogle&display=swap');

:root {

    --cor-principal-spotify: #1db954;
    --cor-fundo-escuro: #161616;
    --cor-textos: #ffffff;
    --degrade: linear-gradient(300deg, #101311, #272727);
    --cor-de-fundo: rgb(151, 149, 149);
     --cinza: #121212;

}



* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body {

    background: var(--cor-fundo-escuro);
    color: var(--cor-textos);

}

