@import url(master.css);

.container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    height: 4.6rem;
    margin: 0 40px;

}

.container button {
    padding: 15px;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 20px;

}

.header-left {
    display: flex;
    align-items: center;
    gap: 2rem;

}

nav {
    display: flex;
    align-items: center;
}
nav a{
    color: var(--cor-textos);
    text-decoration: none;
}

.header-left span:hover{
font-size: large;
cursor: pointer;

}

.registo {
    color: var(--cor-textos);
    background: none;
}

.Sessao {
    background-color: var(--cor-principal-spotify);
}

main {
    background-color: var(--cinza);
    height: 100vh;
}

main{
    max-width: 628px;
    background-color: red;
    height: 500px;
    display: flex;
   margin: 0 auto;
   box-sizing: border-box;
    
}

.formulario{
    display: flex;
 
    background-color: blue;
   
}